* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.black_primary {
  background-color: #000 !important;
  color: #fff !important;
}

.black_alt {
  background-color: #000 !important;
  color: #fff !important;
}

.black_orange {
  background-color: #000;
  color: #ffa500;
}

.orange_black {
  background-color: #ffa500;
  color: #000;
}

.app_container {
  display: flex;
  flex-direction: column;

  padding-top: 80px;
}
